<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Students</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Students</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/gradeInput.html"> <span class="button">Grade Input</span> </a>
        <a href="/courses.html"> <span class="button">Qualified Students</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/product.jpg" alt="" /></div>
      <div class="col-sm-6">
        <h1 class="title">Congratulations Qualified Students!</h1>
        <h3>Qualified Students:</h3>
        <ul>
        <li>
          <script src="../public/js/GradeInput.js"></script>
          <script>displayQualStudents();</script>
        </li>
        </ul>
        These students meet the internship requirements.<a href="/gradeInput.html">Click here to enter more students</a>
      </div>
    </div>
  </body>
</html>