<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Students</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />

    <script>
      function addRow(name, GPA){
//var name = document.getElementById('name').value;
//        var GPA = document.getElementById('GPA').value;

        var table = document.getElementsByTagName('table')[0];

        var newRow = table.insertRow(0);
        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(0);

        cell1.innerHTML = name;
        cell2.innerHTML = GPA;
      }
     

    </script>



  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Students</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/gradeInput.html"> <span class="button">Grade Input</span> </a>
        <a href="/courses.html"> <span class="button">Qualified Students</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/product.jpg" alt="" /></div>
      <div class="col-sm-6">
        <h1 class="title">Congratulations Qualified Students!</h1>
        <h3>Qualified Students:</h3>
        <ul></ul>

          <table border="1">
            <tr>
              <th>Name</th>
              <th>GPA</th>
            </tr>
            <tr>
              <td>
              
              </td>
              <td>
              
              </td>
            </tr>
          </table>
        </ul>
        These students meet the internship requirements.<a href="/gradeInput.html">Click here to enter more students</a>
      </div>
    </div>
  </body>
</html>
