<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Students</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>
  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Students</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/gradeInput.html"> <span class="button">Grade Input</span> </a>
        <a href="/courses.html"> <span class="button">Qualified Students</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/graph.png" alt="" /></div>
      <div class="col-sm-6">
        <h1>Input the grades.</h1>
        <p>Enter the students grades for each class.</p>
        <p></p>
        
        <form action="/gradeInput.html" method="POST">
          <p></p><input type="name" name="name" id="fullName" placeholder="Full name" required />
          <p></p><input type="lettergrade" pattern="^[a-eA-E]{1}[+|-]?$" name="csc141" id="1" class="form-control grade" placeholder="CSC141 grade"required />
          <p></p><input type="lettergrade" pattern="^[a-eA-E]{1}[+|-]?$" name="csc142" id="2" class="form-control grade" placeholder="CSC142 grade"required />
          <p></p><input type="lettergrade" pattern="^[a-eA-E]{1}[+|-]?$" name="csc241" id="3" class="form-control grade" placeholder="CSC241 grade"required />
          <p></p><input type="lettergrade" pattern="^[a-eA-E]{1}[+|-]?$" name="csc242" id="4" class="form-control grade" placeholder="CSC242 grade"required />
          <p></p><span id="finalGPA"></span><br/>
          <p></p><script type="text/javascript" src="../public/js/GradeInput.js"></script> 
          <input class="button" type="submit" id="clickMe" value="submit" onclick="calcGPA();" />
          <script>document.getElementById("clickMe").onclick = calcGPA;</script>
        </form>
        <p>After you submit the student grade, submit the student grade for the next class please.</p>
      </div>
    </div>
  </body>
</html>